.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    position: relative;

    label {
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        transition: 0.2s all ease-in-out;
        color: #7f8c8d;

        .star {
            color: #e74c3c;
        }
    }

    .character_count {
        font-size: 0.8rem;
        font-weight: 500;
        color: #7f8c8d;
        position: absolute;
        right: 0;
        top: 7px;
    }

    .password_toggle {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.75rem;

        input {
            display: none;
            color: #2c3e50;
        }

        .checkbox {
            display: block;
            width: 10px;
            height: 10px;
            border: 2px solid #3498db;
            padding: 0;
            border-radius: 0;
            margin-top: 1px;

            &.filled {
                background: #3498db url("../../../assets/checkmark.png");
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        label {
            margin-bottom: 0;
            font-size: 0.9rem;
            font-weight: 500;
            color: #7f8c8d !important;
            line-height: 1;
        }
    }

    div {
        background-color: #ecf0f1;
        border-radius: 3px;
        border: 2px solid #ecf0f1;
        display: flex;
        align-items: center;
        transition: 0.2s all ease-in-out;
        position: relative;
        overflow: visible;

        .icon {
            color: #7f8c8d;
            transform: scale(1.1);
            transition: 0.2s all ease-in-out;
            padding-right: 1rem;
        }

        input, select, textarea {
            padding: 0.75rem 1rem;
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1rem;
        }

        .options {
            list-style: none;
            width: 95%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 5;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            max-height: 200px;
            overflow: auto;

            li {
                padding: 0.75rem 1rem;
                color: #2c3e50;
                cursor: pointer;

                &:hover {
                    background-color: #ecf0f1;
                }
            }
        }

        select {
            appearance: none;
        }

        textarea {
            resize: none;
        }

        textarea::-webkit-scrollbar-thumb {
            background-color: #bdc3c7;
        }
    }

    &.focus {
        label {
            color: #3498db;
        }

        div {
            border-color: #3498db;

            .icon {
                color: #3498db;
            }
        }
    }
}