.wrapper {
    height: 100%;

    header {
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e4e4e4;
        background-color: #ffffff;
        
        h4 {
            color: #7f8c8d;
        }
    }
    
    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
        margin: 2rem auto;

        .form_input {
            margin-bottom: 1rem;

            label {
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
                display: block;
            }

            input {
                width: 100%;
                outline: none;
                border: 1px solid #e1e5e6;
                border-radius: 3px;
                padding: 0.75rem 1rem;
            }
        }

        .form_controls {
            width: 100%;
            margin-top: 1rem;
            display: flex;
            gap: 2rem;
            justify-content: flex-end;
        }
    }
}